<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<title>Vue</title>

</head>
<body>
    <p>
        v-model: -> html폼에 입력한 데이터를 뷰의 데이터 객체에 바로 동기화 시킨다 <br/>
                    input, textarea,select태그에서 사용가능
    </p>
    <div id="app">
        <h1>값을 입력하면 바로 적용됨</h1>
        <input type="text" name="userid" v-model="userid"/><br/>
        <p>입력한 아이디는 {{userid}} </p>
        <hr/>
        <!-- checkbox : 여러 개의 데이터를 선택할 수 있다.-->
        <input type="checkbox" value="마라톤" v-model:name="hobby"/>마라톤
        <input type="checkbox" value="달리기" v-model:name="hobby"/>달리기
        <input type="checkbox" value="걷기" v-model:name="hobby"/>걷기
        <input type="checkbox" value="허들" v-model:name="hobby"/>허들
        <input type="checkbox" value="100M" v-model:name="hobby"/>100M
        <p>선택한 취미는 : {{hobby}}</p>
        <hr/>
        <!--radio-->
        <input type="radio" v-model:name="fruit" value="apple"/> 사과
        <input type="radio" v-model:name="fruit" value="banana"/> 바나나
        <input type="radio" v-model:name="fruit" value="pineapple"/> 파인애플
        <input type="radio" v-model:name="fruit" value="peach"/> 복숭아
        <p>내가 좋아하는 과일은 : {{fruit}}</p>
        <hr/>
        <select v-model="country" multiple size="6">
            <option value="" disabled>나라를 선택하세요.</option>
            <option value="대한민국">대한민국</option>
            <option value="캐나다">캐나다</option>
            <option value="오스트리아">오스트리아</option>
            <option value="스페인">스페인</option>
            <option value="뉴질랜드">뉴질랜드</option>
        </select>
        <p>선택한 나라는 : {{country}}</p>
        <br/>
        <textarea v-model:name="content"></textarea>
        <p>
            내 소개 :  {{content}}
        </p>
    </div>

    <script>
        new Vue({
            el:"#app",
            data() {
                return {
                    userid:'',
                    hobby: [], //  여러 개의 데이터 처리를 위하여 배열을 선언
                    fruit:'',
                    // country:'대한민국'//초기값이 ''일경우 내용이 없는 목록이 보임.
                    country:[],//초기값이 ''일경우 내용이 없는 목록이 보임.
                    content:''
                }
            }
        });
    </script>
</body>
</html>